<div class="flex justify-between my-4 mx-2 content-center w-full">
    <p-iconField iconPosition="left">
        <p-inputIcon styleClass="pi pi-search" />
        <input (keyup)="applyFilter($event)" type="text" pInputText placeholder="Search sensors" />
    </p-iconField>

    <div class="content-center">
        <p-dropdown class="mr-2" (onChange)="applyUnitFilter($event)" [options]="uniqueUnits" optionLabel="name"
            placeholder="Filter Unit" [showClear]="true" [checkmark]="true" />

        <p-dropdown (onChange)="applyTypeFilter($event)" [options]="uniqueTypes" optionLabel="name"
            placeholder="Filter Type" [showClear]="true" [checkmark]="true" />
    </div>
</div>