<div class="card">
    <p-toast />

    <p-table #dt [value]="datas" [rows]="rows" [paginator]="true" [rowsPerPageOptions]="[5, 10, 25, 50]"
        [responsive]="true" [globalFilterFields]="globalFilterFields" [tableStyle]="{ 'min-width': '75rem' }"
        [rowHover]="true" dataKey="id" [showCurrentPageReport]="true" [customSort]="true" [lazy]="true"
        [totalRecords]="totalElements" (onLazyLoad)="loadData($event)" (onPage)="onPage($event)">

        <ng-template pTemplate="header">
            <tr>
                <th style="width: 4rem">
                </th>
                <th *ngFor="let column of columns" [pSortableColumn]="column"
                    [style.min-width]="column.minWidth || 'auto'">
                    {{ column | uppercase }} <p-sortIcon [field]="column" />
                </th>
                <th></th>
            </tr>
            <tr>
                <th></th>
                <th *ngFor="let column of columns">
                    <input type="text" [placeholder]="'Search by ' + column"
                        (keydown.enter)="onFilterChange($event, column)"
                        class="p-inputtext p-component p-column-filter" />
                </th>
                <th></th>
            </tr>
        </ng-template>

        <ng-template pTemplate="body" let-rowData>
            <tr>
                <td>
                </td>
                <td *ngFor="let column of columns">
                    {{getRowDataValue(column, rowData)}}
                </td>
            </tr>
        </ng-template>
    </p-table>

    <p-confirmDialog [style]="{ width: '450px' }" />
</div>