<div class="flex items-center justify-center min-h-screen bg-gray-100">
    <p-card class="profile-card bg-white shadow-xl rounded-lg p-6 flex flex-col items-center w-1/2 h-1/2 custom-height">
        <div class="mb-6 flex justify-center items-center">
            <img src="assets/pdc.jpg" alt="Profile Photo" class="w-32 h-32 rounded-full shadow-lg object-cover">
        </div>

        <div class="text-center overflow-hidden justify-center items-center">
            <h2 class="text-3xl font-bold mb-3">{{ name }}</h2>
            <p class="text-lg mb-2">Student Code: {{ studentCode }}</p>
            <p class="text-lg mb-6">Class: {{ class }}</p>

            <div class="flex flex-wrap gap-4 justify-center">
                <a [href]="pdfUrl" target="_blank">
                    <p-button label="Download PDF" icon="pi pi-file-pdf" class="p-button-lg"></p-button>
                </a>
                <a [href]="githubUrl" target="_blank">
                    <p-button label="GitHub Link" icon="pi pi-github" class="p-button-lg"></p-button>
                </a>
                <a [href]="apiDocUrl" target="_blank">
                    <p-button label="API Documentation" icon="pi pi-file" class="p-button-lg"></p-button>
                </a>
            </div>
        </div>
    </p-card>
</div>

<style>
    .custom-height {
        height: 66vh;
    }
</style>